%h1 Editar Dados da Empresa Aérea

= render 'form'
%br
%br
%br
%br
%br

= link_to 'Mostrar', @empresa_aerea, class:'btn btn-theme02'
\|
= link_to 'Voltar', empresa_aereas_path, class:'btn btn-theme03'
