%h1 Editar Dados da Passagem

= render 'form'
%br
%br
%br
%br
%br

= link_to 'Mostrar', @reservar_passagem, class:'btn btn-theme02'
\|
= link_to 'Voltar', reservar_passagens_path, class:'btn btn-theme03'
