%h1 Alterar sua Qualificação da Agência

= render 'form'
%br
%br
%br
%br
%br
= link_to 'Mostrar', @qualificacao_passagem, class:'btn btn-theme02'
\|
= link_to 'Voltar', qualificacao_passagens_path, class:'btn btn-theme03'
