%h1 Alterar sua Qualificação de Hotel

= render 'form'
%br
%br
%br
%br
%br
= link_to 'Mostrar', @qualificacao_hotel, class:'btn btn-theme02'
\|
= link_to 'Voltar', qualificacao_hoteis_path, class:'btn btn-theme03'
